<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p>
      Anurag, A Software Developer || Music Lover, who believes in "Learn and Share".
      When he gets free time, he spends his time in writing blogs and poems.
      He also loves to read Quora and Technical Blogs.<br><br>
      Anurag recently challenged to himself:
      <ul>1) Publish atleast 120 posts in 2016. Which means on an avg 10 posts every month.</ul>
      <ul>2) Reduce 10 Kg weight in 2016. Current weight is 89 Kg.</ul>
      Lets see how will he perform, Finger crossed !
    </p>  
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>  
</div>

