<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3>About me</h3>

    <p>As a software architect, with over 9 years of experience, I have a strong background in designing and building high-quality, scalable systems that solve real-world problems.</p>
    
    <p>I love to build the product and I have proven record of leading the product development end to end. I can contribute to anywhere to achieve the success of product, be it</p>
    
    <ul>
      <li>Backend</li>
      <li>Frontend</li>
      <li>Mobile App</li>
      <li>Deployment</li>
      <li>Planning</li>
      <li>Customer Discussion</li>
      <li>Team Building</li>
    </ul>
    
    <p>Throughout my career, I have gained extensive experience in the full software development lifecycle, from proof-of-concept to production.</p>
    
    <p>I have a track record of successfully delivering software projects, including the Ranger MoveSmart, Cross Belt Sorter and a Pet&#39;s Hotel Management System, Migrating popular job portal to a web2.0. </p>
    <p> Feel free to connect with me to learn more about my work. </p>
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>  
</div>
