<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
  <h2>About Me</h2>
        <p>
            With over 11 years of experience, I specialize in building scalable, high-performance systems that solve complex real-world challenges. 
            My expertise lies in leading cross-functional teams, driving innovation, and delivering solutions that significantly impact product success.
        </p>
        
        <p>
            I excel in end-to-end product development and am particularly strong in <strong>backend engineering</strong>, with deep expertise in 
            <strong>Erlang/Elixir & Python tech stack</strong>. My experience spans backend architecture, frontend development, mobile apps, deployment, 
            planning, and customer discussions. I thrive in mentoring and building high-performing teams that consistently deliver impactful results.
        </p>

        <p>
            A key area of focus for me has been <strong>Multi-Agent Pathfinding (MAPF)</strong>, where I’ve been optimizing algorithms and improving 
            system performance to enable better coordination between autonomous agents. This has been a significant part of my recent work, 
            particularly in enhancing navigation performance at <strong>GreyOrange</strong>.
        </p>

        <p>
            Throughout my career, I have led the development of several high-profile projects, including 
            <strong>Navigation, System Platform, Ranger MoveSmart, the Cross Belt Sorter, and a Pet’s Hotel Management System</strong>. 
            I was also instrumental in migrating a popular job portal to a modern Web 2.0 architecture.
        </p>

        <p>
            Let’s connect to discuss how my expertise in <strong>system design, leadership, backend development, MAPF, and engineering</strong> 
            can bring your ideas to life.
        </p>

  </div>

  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>  
</div>
